@use "sass:math";
@use 'base';

.dashboard {
    display: flex;
    margin-top: base.$top-space;
    height: calc(100vh - base.$top-space);
}

.workspace-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 71px;
}