@use 'base';

@mixin delete-btn() {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 7px;

    transition: background-color 0.3s ease;
}

$bottom-space: 25px;
$hovering-delete-btn: rgb(255, 221, 221);

.edit-project {
    width: 100%;
    margin: 0 400px 0 50px;

    .edit-project__title-delete {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $bottom-space;
    }

    .edit-project__title-delete button {
        @include delete-btn()
    }

    .edit-project__title-delete button:hover {
        background-color: $hovering-delete-btn;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 900;
    }

    .edit-project__date {
        font-size: 1.5rem;
        color: rgb(128, 128, 128);
        margin-bottom: $bottom-space;
    }

    .edit-project__desc {
        font-size: 1.5rem;
        margin-bottom: $bottom-space;
    }

    hr {
        height: 4px;
        background-color: #d3d3d3;
        border: none;
    }
}

.edit-project__project-tasks {
    margin-top: $bottom-space;

    h2 {
        font-size: 2.2rem;
        font-weight: 700;
        margin-bottom: $bottom-space;
    }

    .edit-project__list-tasks {
        margin-top: $bottom-space;
        background-color: rgb(233, 233, 233);
        padding: 40px;
        border-radius: 10px;
    }

    .list-tasks__task {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        border-radius: 7px;

        button {
            @include delete-btn()
        }

        button:hover {
            background-color: $hovering-delete-btn;
        }

        .list-tasks__checkbox {
            font-size: 1.5rem;
        }

        label {
            margin-left: 10px
        }
    }

    .list-tasks__task:hover {
        background-color: rgb(228, 228, 228);
    }

    .edit-project__add-task input {
        border: none;
        height: 50px;
        width: 500px;
        border-radius: 6px;
        outline: none;
        margin-right: 10px;

        font-size: 1.5rem;
        padding-left: 7px;
        background-color: rgb(233, 233, 233);
    }

    .edit-project__add-task button {
        cursor: pointer;
        height: 50px;
        border: none;
        font-size: 1.5rem;
        border-radius: 6px;
        padding: 0px 10px;
        background-color: transparent;
    }

    .edit-project__add-task button:hover {
        background-color: rgb(243, 243, 243);
    }
}